$prefix: "../../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__covid-img: 
    $prefix+"img/covid/covid-s1.jpg",
    $prefix+"img/covid/covid-s2.jpg",
    $prefix+"img/covid/covid-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__healthcare-img: 
    $prefix+"img/healthcare/healthcare-s1.jpg",
    $prefix+"img/healthcare/healthcare-s2.jpg",
    $prefix+"img/healthcare/healthcare-s3.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__tips-img: 
    $prefix+"img/tips/tips-s1.jpg",
    $prefix+"img/tips/tips-s2.jpg",
    $prefix+"img/tips/tips-s3.jpg",
    $prefix+"img/tips/tips-s4.jpg";
$bg__init:
    "about",
    "comingsoon",
    "contact",
    "covid",
    "error",
    "healthcare",
    "index",
    "login",
    "privacy",
    "tips";
$classes_init:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__covid-img,
    $bg__error-img,
    $bg__healthcare-img,
    $bg__index-img,
    $bg__login-img,
    $bg__privacy-img,
    $bg__tips-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;